<MudPaper Class="d-flex flex-column pa-4 rounded-lg" Width="480px" Height="260px" Elevation="4">
    <MudContainer Class="d-flex flex-row pa-0 gap-4 mb-2">
        <div class="d-flex flex-column flex-grow-1 pa-0 gap-0">
            <MudText Typo="Typo.h5">
                Untitled Title
            </MudText>
            <MudText Typo="Typo.subtitle1">
                <i>Subtitle</i>
            </MudText>
        </div>
        <MudFab IconColor="Color.Primary" DropShadow="false"
                StartIcon="@Icons.Material.Filled.Edit"
                Href="/general/book"></MudFab>
    </MudContainer>
    <MudText>Series 1</MudText>
    <MudText>Volume 0</MudText>
    <MudText>Genre: Unspecified</MudText>
</MudPaper>

@code {

}
