@page "/plots/{id}"
@using StoryForge.Application.Plots
@using StoryForge.Core.Data
@using StoryForge.Core.Utils
@inject BreadCrumbHandler crumbHandler;
@inject NavigationManager navigationManager;
@inject ISender sender;

<PageTitle>@Title</PageTitle>
<MudText Typo="Typo.h4" Class="mb-4">@Title</MudText>

<MudStack Spacing="2">
    <MudTabs Rounded="true" Centered="true">
        <MudTabPanel Text="Basic Info" Class="pt-2">
            <MudStack Spacing="2">
                <MudTextField @bind-Value="PlotName" Label="Plot" Variant="Variant.Outlined" />
                <MudStack Row="true" Spacing="4">
                    <MudText Class="mr-4">Importance</MudText>
                    <MudSlider TickMarks="true" Min="0" Max="2" @bind-Value="ImportanceValue"></MudSlider>
                    <MudText>@Importance</MudText>
                    <div class="w-full"></div>
                </MudStack>
                <MudTextField @bind-Value="PlotCharacters" Label="Character(s)" Lines="2" Variant="Variant.Outlined" />
                <MudTextField @bind-Value="PlotDescription" Label="Description" Lines="4" Variant="Variant.Outlined" />
                <MudTextField @bind-Value="PlotResult" Label="Result" Lines="4" Variant="Variant.Outlined" />
            </MudStack>
        </MudTabPanel>
        <MudTabPanel Text="Resolution Steps" Class="pt-2">
            <MudTextField @bind-Value="ResolutionSteps" Label="Details" Lines="18" Variant="Variant.Outlined" />
        </MudTabPanel>
    </MudTabs>
</MudStack>

@code {
    const string Title = "Plot Information";

    [Parameter]
    public string Id { get; set; } = default!;

    string PlotName
    {
        get => plotData?.Name ?? string.Empty;
        set
        {
            if (plotData is null) return;
            plotData.Name = value;
            SaveData();
        }
    }

    int ImportanceValue
    {
        get => plotData?.Importance.Tier() ?? 0;
        set
        {
            if (plotData is null) return;
            plotData.Importance = (Importance)value;
            SaveData();
        }
    }
    string Importance => plotData?.Importance.ToString() ?? string.Empty;

    string PlotCharacters
    {
        get => plotData?.Characters ?? string.Empty;
        set
        {
            if (plotData is null) return;
            plotData.Characters = value;
            SaveData();
        }
    }

    string PlotDescription
    {
        get => plotData?.Description ?? string.Empty;
        set
        {
            if (plotData is null) return;
            plotData.Description = value;
            SaveData();
        }
    }

    string PlotResult
    {
        get => plotData?.Result ?? string.Empty;
        set
        {
            if (plotData is null) return;
            plotData.Result = value;
            SaveData();
        }
    }

    string ResolutionSteps
    {
        get => plotData?.ResolutionSteps ?? string.Empty;
        set
        {
            if (plotData is null) return;
            plotData.ResolutionSteps = value;
            SaveData();
        }
    }

    Plot? plotData;

    protected override async Task OnInitializedAsync()
    {
        crumbHandler.Items.Clear();
        crumbHandler.Items.Add(new("Plots", "/plots", Icons.Material.Filled.Timeline));
        crumbHandler.Items.Add(new(Title, $"/plots/{Id}", null));
        crumbHandler.NavigationChange?.Invoke();

        var plotResult = await sender.Send(new GetPlotOperation(PlotId.From(Id)));
        plotResult
            .Then(plot =>
            {
                plotData = plot;
                return Result<Plot>.Ok(plot);
            })
            .OnError(msg => navigationManager.NavigateTo("/error"));
    }

    void SaveData()
    {
        if (plotData is null) return;
        _ = sender.Send(new UpdatePlotOperation(plotData));
    }
}
